!!!
head
  link(rel="stylesheet", type="text/css", href="/css/admin.css")
  script(src="/js/jquery-1.9.1.min.js")
  script(src="/js/admin.js")

body
  if typeof user !== "undefined" && user
    include includes/add_survey_template

    #admin_page
      a(href="/survey/edit/all") surveys
      br
      a#add_survey_link(href="#") create Survey
      br
      br

      #add_survey.hide
        #add_survey_errors.error
        form#add_survey_form
          button#add_more("#") ADD Survey
          br
          br
          label(for="name") Title
          input(type="text", name="name")
          br
          br

          #surveys

          input(type="reset", value="clear")  
          input(type="submit", value="submit")
  else
    form#login_form
      #login_errors.hide
      label(for="user") username: 
      input(type="text", name="user")
      br
      label(for="password") password: 
      input(type="password", name="password")
      br
      input(type="submit", value="LOGIN")
