!!!
head
  link(rel="stylesheet", type="text/css", href="/css/index.css")
  script(src="/js/jquery-1.9.1.min.js")
  script(src="/js/index.js")

body
  include includes/header

  #surveys
    each s, i in surveys
      .survey_list
        span.number #{i+1}. 
        a.name(href="/survey/#{s._id}") 
          span #{s.name}
        //- if( typeof user !== "undefined" && user)
        button.delete_survey(id="#{s._id}") delete
    