@import "common.less";


.survey_hovered {
  background-color: #fff;

  .delete_survey {
    display: inline;
  }
}


.delete_survey {
  position: absolute;
  right: 5px;
  display: none;
  padding: 7px 21px;
  border: none;
  background-color: rgb(189, 96, 96);
  color: #fff;
  font-size: 11px;
  border-radius: 3px;
  text-transform: uppercase;
}




#surveys, #in_survey {
  width: 440px;
  margin: 0 auto;
}

.survey_list {
  margin-left: 7px;
  border-bottom: 1px solid rgb(238, 236, 236);
  padding: 20px 0;
  padding-left: 3px;
  font-size: 1.3em;  
  line-height: 2.1rem;
  position: relative;
  span {
    display: inline-block;
  }
  span:first-letter {
    text-transform: capitalize;
  }
  .number {
    color: #666;
  }
}

#in_survey {
  padding-left: 17px;

  h3.name {
    display: inline-block;
    border-bottom: 2px solid #cecfd1;
    font-size: 1.3em;
    line-height: 2.1rem;
    margin: 20px 0;
    padding-bottom: 6px;
    color: #57866f;
  }
  h3.name:first-letter {
    text-transform: capitalize;
  }

  .survey {
    width: 340px;
    border: 1px solid #DDD;
    padding: 20px;
    background-color: #fdfdfd;
    margin-bottom: 10px;
    line-height: 1.5em;
    position: relative;
    
    &:before, &:after {
      position: absolute;
      width: 40%;
      height: 10px;
      content: ' ';
      left: 12px;
      bottom: 12px;
      background: transparent;
      -webkit-transform: skew(-5deg) rotate(-5deg);
      -moz-transform: skew(-5deg) rotate(-5deg);
      -ms-transform: skew(-5deg) rotate(-5deg);
      -o-transform: skew(-5deg) rotate(-5deg);
      transform: skew(-5deg) rotate(-5deg);
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      z-index: -1;
    }
    &:after {
      left: auto;
      right: 12px;
      -webkit-transform: skew(5deg) rotate(5deg);
      -moz-transform: skew(5deg) rotate(5deg);
      -ms-transform: skew(5deg) rotate(5deg);
      -o-transform: skew(5deg) rotate(5deg);
      transform: skew(5deg) rotate(5deg);
    }
    .question {
      font-weight: 500;
      font-size: 14px;
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #cecfd1;
      color: #555;
    }
    .question:first-letter {
      text-transform: capitalize;
    }
    .option {
      background-color: rgb(243, 243, 243);
      padding: 8px;
      padding-left: 8px;
      margin-bottom: 12px;
      border-radius: 40px;
      cursor: pointer;

      label {
        display: inline-block;
        cursor: pointer;
      }
      label:first-letter {
        text-transform: capitalize;
      }
    }
    .option label span{
      padding-left: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #555;
    }

    .result {
      .result-box {
        background-color: rgb(243, 243, 243);
        border-radius: 40px;
        width: 340px;
        height: 10px;
        margin-bottom: 12px;

        .inside-result {
          border-radius: 40px;
          background: rgb(194, 230, 147);
          width: 0px;
          height: 10px;
        }
      }

      .result-question {
        font-size: 0.9em;
        color: rgb(105, 105, 105);
        padding-bottom: 6px;

        .q {
          width: 265px;
          display: inline-block;
        }

        .count {
          margin-left: 10px;
          display: inline-block;
          width: 65px;
          opacity: 0.7;
        }
      }
    }

    .questions {
        user-select: none;
        -webkit-user-select: none;

      .point-5 span.point-out, .star-5 span.point-out {
        display: inline-block;
        margin-left: 10px;
        width: 56px;
        height: 56px;
        background: #fdfdfd;
        position: relative;
        border-radius: 50%;
        border: 1px solid #ebebeb;
      }
      .point-5 span.point-in, .star-5 span.point-in{
        color: #898989;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #ebebeb;
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 50%;
        border: 1px solid rgb(221, 221, 221);

        &:hover {
          cursor: pointer;
        }
      }

      .star-5 span.point-in {
        position: relative;

        &:after {
          content: "\2605";
          color: rgb(175, 172, 172);
          position: absolute;
          font-size: 23px;
          left: 9px;
          font-weight: bold;
        }
      }


      .percent {
        position: relative;
        width: 95%;

        .percent_value {
          position: absolute;
          top: -3px;
          right: -26px;
        }
      }

      .text_short {

        input {
          width: 330px;
          height: 35px;
          padding-left: 10px;
        }
      }

      .text_long {
        textarea {
          width: 331px;
          height: 180px;
        }
      }


    }

  }
}

#view_result, #submit {
  margin-top: 20px;
  color: #fff;
  width: 180px;
  height: 40px;
  background: @green;
  box-shadow: 0 5px 0 0 @green_shadow;
  border: none;
  font-size: 1.1em;
  border-radius: 4px;
  cursor: pointer;
  
  &:active {
    .on_active
  }
}


#view_result {
  margin-right: 20px;
}